<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
                    <li sec:authorize="hasRole('TEACHER')"><a class="nav-link" href="/assignments">Assignments</a></li>
                    <li><a class="nav-link" href="/notifications">Notifications</a></li>
                    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>